<br/><br/><h1>🍔 BURGERLOGGER 🍔 </h1><br/>
<div class="row" style="margin-top:50px;">
    <a href="/customers"><button style="border-radius:8px;height:200px" class="z-depth-4 col s5 offset-s1 btn btn-large green darken-1">
        <i class="large material-icons">account_box</i><br/>
        VIEW/ADD CUSTOMERS
    </button></a>
    <a href="/burgers"><button style="margin-left:10px;border-radius:8px;height:200px" class="z-depth-4 col s5 btn btn-large green darken-1">
        <i class="material-icons">fastfood</i><br/>
        VIEW/EAT BURGERS
    </button></a>
</div>